<footer class="footer">
    <div class="content has-text-centered">
      <p>
        Web assessment 2 by The bulma hater<strong> Oleksandr Korniienko</strong> (W20114792)<br/>
        <a href="https://www.setu.ie/">SETU</a> 2025
      </p>
    </div>
  </footer>