<footer class="footer box">
    <section class="content has-text-centered">
      <p>
        Web assessment 2 by<strong> Oleksandr Korniienko</strong> (W20114792)<br/>
        <a href="https://www.setu.ie/">SETU</a> <a href="https://tinyurl.com/yc5u6rnn">2025</a>
      </p>
    </section>
  </footer>