<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand"><a href="/index/"><img src="/data/logo.png" width="150"></a> 
            <a class="navbar-burger" id="burger">
            <span ></span>
            <span ></span>
            <span ></span>
            <span ></span>
          </a></div>
    <div class="navbar-menu navbar-end" id="nav-links">
        <div class="navbar-item box has-text-centered is-clickable" id="dashboard"><p>My dashboard</p></div>
        {# //============================================================= #}
        <div class="navbar-item box has-text-centered is-clickable dropdown is-hoverable is-fullheight-with-navbar dropdown-trigger" id="all_cities">
            <p><span>Cities list</span></p>
            <div class="dropdown-menu is-hidden-touch" id="dropdown-menu" role="menu">
                <div class="dropdown-content" id="cities_list"></div>
            </div>
        </div>
        {# //============================================================= #}
        <div class="navbar-item box has-text-centered is-clickable" id="location"><p>Location</p></div>
        <div class="navbar-item box has-text-centered is-clickable" id="about"><p>About</p></div>
     
            <div class="navbar-item box is-flex is-clickable  is-justify-content-center" id="colorMode">
                <i class="fa-regular fa-heart" id="colorModeIndicator"></i>
                <p>Dark mode</p]>
                </div>
               
    </div>
</nav>