<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-brand"><a href="/index/"><img src="/data/logo.png" width="180"></a></div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-item">My dashboard</div>
        <div class="navbar-item">Location</div>
        <div class="navbar-item">About</div>
        <div class="navbar-item"><a href="/pages/test/">Test</a></div>
        <switch class="navbar-item">
            <input type="checkbox" id="switch" class="switch is-rounded" onclick="changeTheme()">
            <label for="switch">Dark mode</label>
        </switch>
    </div>
</nav>