<div class="column">
<div class="columns is-flex " style="gap:25px">

      <div class="column card is-one-fifth">
        <div class="is-flex-direction-column">
          <div class="card-header-title">1</div>
          <div class="card-content">
            <p>Temperature: <span id="currentTemp"></span></p>
            <p>Feels like: : <span id="currentTempFeel"></span></p>
            <p>Wind: <span id="currentWind"></span></p>
          </div>
        </div>
      </div>

      <div class="column card is-one-fifth">
        <div class="is-flex-direction-column">
          <div class="card-header-title">2</div>
          <div class="card-content">
            <p>Temperature: <span id="currentTemp"></span></p>
            <p>Feels like: : <span id="currentTempFeel"></span></p>
            <p>Wind: <span id="currentWind"></span></p>
          </div>
        </div>
      </div>

      <div class="column card is-one-fifth is-clickable">
        <div class="is-flex-direction-column">
          <div class="card-header-title">3</div>
          <div class="card-content">
            <p>Temperature: <span id="currentTemp"></span></p>
            <p>Feels like: : <span id="currentTempFeel"></span></p>
            <p>Wind: <span id="currentWind"></span></p>
          </div>
        </div>
      </div>
  </div></div>