---
layout: layout.njk
title: (Whether) Weather
---

<div class="section is-flex is-flex-direction-row is-justify-content-center">
    <div class="card is-flex is-flex-direction-column">
            <div class="card-header-title">All data daily</div>
            <div class="card-content is-flex is-flex-direction-column">
                <span id="daily_weather_code">sss</span>
                <span id="daily_temperature_2m_max">sss</span>
                <span id="daily_temperature_2m_min"></span>
                <span id="daily_apparent_temperature_max"></span>
                <span id="daily_apparent_temperature_min"></span>
                <span id="daily_sunrise"></span>
                <span id="daily_sunset"></span>
                <span id="daily_precipitation_hours"></span>
                <span id="daily_precipitation_probability_max"></span>
                <span id="daily_wind_speed_10m_max"></span>
                <span id="daily_wind_gusts_10m_max"></span>
                <span id="daily_wind_direction_10m_dominant"></span>
        </div>
    </div>
    <div class="card is-flex is-flex-direction-column">
            <div class="card-header-title">All data hourly</div>
            <div class="card-content is-flex is-flex-direction-column">
                <span id="hourly_temperature_2m">sss</span>
                <span id="hourly_relative_humidity_2m">sss</span>
                <span id="hourly_apparent_temperature"></span>
                <span id="hourly_precipitation_probability"></span>
                <span id="hourly_precipitation"></span>
                <span id="hourly_weather_code"></span>
                <span id="hourly_wind_speed_10m"></span>
                <span id="hourly_wind_gusts_10m"></span>
        </div>
    </div>
</div>