---
layout: layout.njk
title: (Whether) Weather
---
<section class="box">
    <div class="title has-text-centered"><h1>All cities</h1></div>
</section>
    <section class="box is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-center" id="cities_tiles"
      style="gap: 15px">
    </section>