---
layout: layout.njk
title: (Whether) Weather
---

I really wanted to implement this but everywhere API key is required. </br>
It could be done in a long way using latitude/longtitude and some data about cities (i think) but I haven't started the programming assesment yet.</br>
Therefore the default city is set as a Waterford.</br>
<span id="demo"></span>